div {
    display: block;
}

input[type="text"] {
    width: 3ch;
}

page_container {
    display: table;
}

page_item {
    display: table-cell;
}

.scroller {
    width: 100%;
    height: auto;
    overflow-y: scroll;
}

body {
    width: 100%;
    transform-origin: bottom right 60px;
}

/*
these were here to add a custom scroll bar but made page reset not work
[container]{
    overflow:scroll;
    overflow-x:hidden;
}

[container]::-webkit-scrollbar{
    width:0;
    background-color:transparent;
}
    */

#padding {
    height: 10000px;
}